.sidebar {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 1rem;
  overflow-y: auto;
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  width: 3rem;
  height: 3rem;
  background-color: hsl(0, 0%, 50%);
  margin-right: 1rem;
}
.logo-brand {
  font-weight: bold;
}

.sidebar-groups {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
