.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.work-zone {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.upload-zone {
  height: 14rem;
  padding: 1rem 1rem 1rem 0.5rem;
  display: flex;
  column-gap: 0.5rem;
}
